.StSmartQA-content{
    width:75%;
    min-height:720px;
    min-width: 500px;
    margin:auto;
    background-color:#fff;
    padding:30px 50px 70px 40px;
}
.StSmartQA-title{
    font-size:1.5em;
    color:#333;
    padding:10px;
    background-color: #FFFFFF;
}

.tab-content{
    padding:20px;
}

