.login-form{
    width: 358px;
    margin-left: auto;
    margin-right: auto;
    padding:50px 30px 60px 30px;
    background-color:#fff;
    margin-top:100px;
}

.login-form .login-form-button{
    width:100%;
}

/*
#content #main{
    background-color:rgba(255, 255, 255, 0);
    margin-top:100px;
}*/

.login-form .login-form-forgot{
    float:right;
}

.login-form .error-message{
    color: #f04134;
    line-height: 1.5em;
}

.login-form .form-item{
    margin-bottom: 24px;
    color: rgba(0, 0, 0, 0.65);
}