.rate{
    padding-top:20px;
}

.rate>span{
    padding-right: 20px;
    font-size: 16px;
}

.summary-title{
    font-size: 24px;
}

.summary-target{
    font-size: 16px;
}

.summary-week{
    float: right;
    padding-right: 30px;
    font-size: 1.5em;
}
.ant-modal-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.ant-modal-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}
